*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    width: 50em;
    height: 99vh;
    background: rgba(255, 99, 71, 0.7);
}

.head{
    position: relative;
    left: 15em;
    top: 25vh;
    width: 23em;
    height: 17em;
    background-color: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    z-index: 1;
}

.left-ear{
    width: 200px;
    height: 200px;
    background: black;
    position: absolute;
    border-radius: 50%;
    top: 6em;
    left: 28em;
}

.right-ear{
    width: 200px;
    height: 200px;
    background: black;
    position: absolute;
    border-radius: 50%;
    right: 24em;
    top: 6em;
}

.left-eye{
    width: 100px;
    height: 100px;
    background: black;
    position: absolute;
    border-top-left-radius: 100%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 50%;
    top: 3em;
    left: 4em;
}

.left-eye::after{
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: white;
    position: absolute;
    top: 25px;
    left: 40px;
}

.right-eye{
    width: 100px;
    height: 100px;
    background: black;
    position: absolute;
    border-top-left-radius: 50%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 100%;
    top: 3em;
    right: 4em;
}

.right-eye::after{
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: white;
    position: absolute;
    top: 25px;
    left: 30px;
}

.nose{
    position: relative;
    width: 50px;
    border-top: 30px solid black;
    border-left: 30px solid white;
    border-right: 30px solid white;
    left: 50%;
    top: 30px;
    z-index: 1;
}

.mouth{
    position: relative;
    width: 60px;
    border-radius: 100%;
    border-bottom: 4px solid black;
    border-top: transparent;
    left: 50%;
    top: 60px;
    z-index: 1;
}
